<form class="" method="post"
      action="{% url 'create_fiscal_year' %}" autocomplete="off" id="advertisementForm" style="background-color: #bbb6">
    {% csrf_token %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}

    {% endif %}

    <div class="box-body">


        <table class="table" width="100%">

            <tr>
                <td>
                    <div class="form-group">
                        <label for="fiscalYear"> Year Names<span class="required-field">*</span></label>
                        <input type="text" name="year" class="form-control" placeholder="YEAR1/YEAR2" id="fiscalYear">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="code"> Code </label>
                        <input type="text" name="code" class="form-control" placeholder="75/76" id="code">
                    </div>
                </td>

            </tr>

        </table>


    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
    <!-- /.box-footer -->
</form>
{#{% include 'app/assets/form_script.html' %}#}