{% extends "app/backend/layouts/app.html" %}
{% block title %}Cooking Fuel{% endblock %}
{% load static %}
{% load role_check %}
{% block content %}
    <style>
        .form-group {
            margin-bottom: 10px !important;
        }
    </style>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Cooking Fuel
            </h1>

            {% include 'app/backend/layouts/_notification.html' %}
            <ol class="breadcrumb">
                <li><a type="button" class="btn btn-default" href="#" onClick="javascript:history.go(-1);"><i
                        class="fa fa-arrow-left"></i> Back</a>
                    <a type="button" class="btn btn-success" href="{% url 'setting.cooking_fuel.create' %}"><i
                            class="fa fa-plus"></i>Create New</a>
                </li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <!-- general form elements -->
                    <div class="box box-primary">

                        <!-- /.box-header -->
                        <!-- form start -->

                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                <th>SN</th>
                                <th>Name</th>
                                <th>Action</th>
                                </thead>
                                <tbody>
                                {% for cooking_fuel in cooking_fuels %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ cooking_fuel.name }}</td>

                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false">Action
                                                    <span class="caret"></span></button>

                                                <ul class="dropdown-menu" role="menu">

                                                    <li><a href=""><i class="fa fa-eye"></i> View</a></li>

                                                    {#                    <li class="divider"></li>#}

                                                    <li><a href="{% url 'setting.edit_cooking_fuel' cooking_fuel.id %}" class="edit-data"><i class="fa fa-edit"></i> Edit</a>
                                                    </li>

                                                    <li class="divider"></li>

                                                    <li><a href="{% url 'setting.delete_cooking_fuel' cooking_fuel.id %}" class="delete-data"><i class="fa fa-trash-o"></i>
                                                        Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>

{% endblock %}
{% block scripts %}

    {#    Data Tables #}
    <script>
        $(function () {
            $('#cookingFuelTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            });
            $('#type').select2({});
            $('#parent').select2({});
        })
    </script>


{% endblock %}