<table class="table table-bordered">
    <thead>
    <th>SN</th>
    <th>Name</th>
    <th>DOB</th>
    <th>Gender</th>
    <th>Ward</th>
    <th>Local Level</th>
    <th>House</th>
    <th>Action</th>
    </thead>
    <tbody>
    {% for individual in household_members %}
        <tr>
            <td>{{ forloop.counter }}</td>

            <td>{{ individual.name }}</td>
            <td>{{ individual.gender }}</td>
            <td>{{ individual.dob_bs }}</td>
            <td>{{ individual.ward }}</td>
            <td>{{ individual.local_level }}</td>
            <td>{{ individual.hh.hh_no }}</td>

        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown" aria-expanded="false">Action
                    <span class="caret"></span></button>

                <ul class="dropdown-menu" role="menu">

                    <li><a href=""><i class="fa fa-eye"></i> View</a></li>


                    <li><a href="" class="edit-data"><i class="fa fa-edit"></i> Edit</a></li>

                    <li class="divider"></li>

                    <li><a href="" class="delete-data"><i class="fa fa-trash-o"></i> Delete</a></li>
                </ul>
            </div>
        </td>
        </tr>
    {% endfor %}
    </tbody>
</table>