{% extends "app/backend/layouts/app.html" %}
{% block title %}Fiscal Year{% endblock %}
{% load static %}
{% load role_check %}
{% block content %}
    <style>
        .form-group {
            margin-bottom: 10px !important;
        }
    </style>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Fiscal Year
            </h1>

            {% include 'app/backend/layouts/_notification.html' %}
            <ol class="breadcrumb">
                <li><a type="button" class="btn btn-default" href="#" onClick="javascript:history.go(-1);"><i
                        class="fa fa-arrow-left"></i> Back</a>
                <a type="button" class="btn btn-success" href="{% url 'create_fiscal_year' %}"><i
                        class="fa fa-plus"></i>Create New</a>
                </li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <!-- general form elements -->
                    <div class="box box-primary">

                        <!-- /.box-header -->
                        <!-- form start -->

                        <div class="box-body">
                            {% include 'app/backend/settings/fiscal_year/partial/table.html' %}
                        </div>
                        <!-- /.box-body -->
                        {#                            <div class="box-footer">#}
                        {#                               #}
                        {#                            </div>#}
                        <!-- /.box-footer -->

                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>

{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
           $('input.fiscal-year-status').change(function () {
                $(this).closest('form').submit();
           });
        });
    </script>


{% endblock %}