body {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #0007;
}

.home {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.home .title {
  text-align: center;
  margin-bottom: 50px;
}
.home a {
  font-size: 30px;
  padding: 15px;
  background-color: #eee;
  border-radius: 5px;
  color: #ff9800;
  box-shadow: 0 0 5px 0px #0007;
}
.vp-home {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.vp-home .welcome {
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  text-align: center;
  font-size: 25px;
  color: #0007;
}
.vp-home .welcome .logout {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: red;
}
.vp-home a {
  font-size: 30px;
  padding: 15px;
  background-color: #eee;
  border-radius: 5px;
  color: #ff9800;
  box-shadow: 0 0 5px 0px #0007;
  margin-bottom: 20px;
}
.vp-home form {
  max-width: 300px;
  width: 100%;
}
.vp-home form button {
  padding: 5px 15px;
  background: royalblue;
  color: seashell;
  font-size: 28px;
  border: none;
  border-radius: 5px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.vp-home .form-group {
  display: flex;
  flex-direction: column;
}
.form-group input {
  padding: 5px 15px;
  font-size: 28px;
  background: #fff;
  border-radius: 5px;
}
.vp-form-wrapper {
  /* padding: 20px; */
}
.vp-form {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}
.vp-form .form-group {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  scroll-snap-align: start;
  min-height: calc(100vh - 20px);
  padding: 5%;
}
.vp-form .form-group:nth-of-type(odd) {
  background-color: #ddd;
}

.vp-form .form-group:nth-of-type(even) {
  background-color: #fff;
}
.vp-form .form-group.required{
  border:2px solid red;
  border-radius: 5px;
}
.vp-form .form-group .label {
  font-weight: bold;
  margin-bottom: 40px;
}
.vp-form .form-group .options-verical {
  display: flex;
  flex-direction: column;
}
.vp-form .form-group .options-horizontal {
  display: flex;
  flex-direction: row;
}
.vp-form .form-group .radio {
  display: flex;
  height: 50px;
}
.radio input {
  margin-right: 20px;
}

.save-btns{
  position: absolute;
  bottom: 10px;
  right: 10px;
}